name: Check Package

on:
  push:
    branches:
      - main

jobs:
  check-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine flake8

      - name: Lint with flake8
        run: |
          # Stop the build if there are Python syntax errors or undefined names
          flake8 laketrace --count --select=E9,F63,F7,F82 --show-source --statistics
          # Exit-zero treats all errors as warnings
          flake8 laketrace --count --exit-zero --max-complexity=10 --max-line-length=120 --statistics

      - name: Install package
        run: |
          pip install -e .

      - name: Run tests
        run: |
          python tests/run_tests.py

      - name: Build and Check Package
        run: |
          python -m build
          twine check dist/*
